<p style="color: green"><%= notice %></p>

<h1><%= User.human_attribute_name(:profile) %></h1>

<h3><%= User.human_attribute_name(:email) %></h3>
<%= @user.email %>
<h3><%= User.human_attribute_name(:zip_code) %></h3>
<%= @user.zip_code %>
<h3><%= User.human_attribute_name(:address) %></h3>
<%= @user.address %>
<h3><%= User.human_attribute_name(:self_introduction) %></h3>
<%= @user.self_introduction %>

<% if @user == current_user %>
  <nav class="page-nav">
    <%= link_to t('views.common.edit', name: User.model_name.human.downcase), edit_user_registration_path %>
  </nav>
<% end %>
